Django==4.2.23
djangorestframework==3.15.2
asgiref==3.8.1
sqlparse==0.5.3

# Database
psycopg2-binary==2.9.9

# Authentication
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0

# Filtering
django-filter==23.5

# HTTP requests
requests==2.32.3
urllib3==2.2.3
certifi==2025.4.26
charset-normalizer==2.0.12
idna==3.10

# Testing
pytest==8.2.0
pytest-django==4.8.0
pytest-pythonpath==0.7.3
atomicwrites==1.4.1
attrs==25.3.0
colorama==0.4.6
iniconfig==2.1.0
packaging==25.0
pluggy==0.13.1
py==1.11.0
toml==0.10.2
typing_extensions==4.13.2

# Images
Pillow==10.4.0

# Environment variables
python-dotenv==1.0.1

# Time zones
pytz==2025.2