<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000" />
    <meta name="description" content="Фудграм" />

    {% load static %}

    <link rel="icon" href="{% static 'favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'logo192.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />

    <!-- CSS из сборки React -->
    <link rel="stylesheet" href="{% static 'css/main.5ecc383b.css' %}" />

    <title>Фудграм</title>
  </head>
  <body>
    <noscript>Вам нужно включить JavaScript, чтобы запустить это приложение.</noscript>
    <div id="root"></div>

    <!-- JS из сборки React -->
    <script src="{% static 'js/main.b4aa0d90.js' %}"></script>
  </body>
</html>
